* {
  margin: 0;
  padding: 0;
}
/* reuseable style */
.prime_text_clr {
  color: #ff0000;
}
.merriweather_font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  max-width: 1320px;
  margin: 0 auto;
}
.banner {
  background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
    url("images/Banner\ Image.png");
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  border-radius: 16px;
  margin-bottom: 120px;
}
.banner_greet {
  font-size: 32px;
  font-weight: 300;
}
.banner_title {
  font-size: 72px;
  font-weight: 800;
}
.banner_title span {
  display: block;
  text-align: center;
}

/* discount section styling */
main section {
  margin-bottom: 120px;
}
.discount {
  text-align: center;
}
.discount h1 {
  font-size: 85px;
  font-weight: 800;
  margin-bottom: 48px;
}
.discount h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.discount h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 48px;
}
