* {
  margin: 0;
  padding: 0;
}
/* reuseable style */
.section_sub_title {
  font-size: 24px;
  font-weight: 500;
}
.section_title {
  font-size: 48px;
  font-weight: 800;
  margin: 16px 0 22px 0;
}
.section_description {
  font-size: 20px;
  font-weight: 300;
}
.prime_text_clr {
  color: #ff0000;
}
.secondary_text_clr {
  color: #070211;
}
.merriweather_font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  max-width: 1320px;
  margin: 0 auto;
}
.banner {
  background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
    url("images/Banner\ Image.png");
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  border-radius: 16px;
  margin-bottom: 120px;
}
.banner_greet {
  font-size: 32px;
  font-weight: 300;
}
.banner_title {
  font-size: 72px;
  font-weight: 800;
}
.banner_title span {
  display: block;
  text-align: center;
}

/* discount section styling */
main section {
  margin-bottom: 120px;
}
.discount {
  text-align: center;
}
.discount h1 {
  font-size: 85px;
  font-weight: 800;
  margin-bottom: 48px;
}
.discount h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.discount h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 48px;
}

/* midnight party section styling */
.midnight_party {
  display: flex;
  background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
    url("images/Vectorrr.png");
  height: 600px;
}
.midnight_party div {
  padding: 126px 0 0 126px;
  width: 60%;
}
.midnight_party h1 {
  font-size: 64px;
  font-weight: 800;
  color: white;
  margin-bottom: 24px;
}
.midnight_party h1 span {
  display: block;
}
.midnight_party p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-bottom: 48px;
}
.midnight_party button {
  font-size: 20px;
  font-weight: 800;
  border: none;
  background: transparent;
  color: white;
  margin-left: 20px;
}
.midnight_party img {
  width: 40%;
  padding: 68px;
}

/* event time styling */
.Event_time {
  background-image: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Event_time h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.Event_time button {
  font-size: 20px;
  font-weight: 800;
  padding: 16px 32px;
  margin-top: 48px;
  background: #ff0000;
  border: none;
  color: white;
  border-radius: 8px;
}

/* coming soon section styling */

.coming_soon {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.coming_soon div {
  flex: 1;
}
.coming_soon_second {
  position: relative;
}
.coming_soon_second img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coming_soon_second .img1 {
  width: 80%;
}
.coming_soon_third img {
  margin-top: 40px;
}

/* holiday sale styling */
.holiday_sale {
  text-align: center;
  height: 987px;
  background-image: url("images/Group\ 75.png"), url("images/Group\ 44.png"),
    url("images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: left bottom, right, bottom;
}
.holiday_sale h3 {
  font-size: 24px;
  font-weight: 500;
}
.holiday_sale h1 {
  font-size: 72px;
  font-weight: 800;
  margin: 16px 0 28px 0;
}
.holiday_sale p {
  font-size: 20px;
  font-weight: 400;
}

/* gallery */
.img_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
}
